In [0]:
import pandas as pd
import numpy as np

In [0]:
df=pd.DataFrame({'store_id':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]})

In [0]:
shop_type=['A','A','B','A','B','A','B','A','B','B','A','B','A','A','B','B','B','B','A','B'] #A represents L2L
                                                                                            #B represents New

In [0]:
df['store_type']=shop_type

In [0]:
sales=[151315,202307,37392,205863,34875,202505,70713,155078,125833,126512,207499,112238,219622,200898,123737,57197,93188,120653,203819,203742]

In [0]:
df['last_yr_sales']=sales

In [18]:
df.head()

   store_id store_type  last_yr_sales
0         1          A         151315
1         2          A         202307
2         3          B          37392
3         4          A         205863
4         5          B          34875

In [0]:
X=df[df['store_type']=='A']

In [21]:
X['New_target']=X['last_yr_sales']*1.1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
X

    store_id store_type  last_yr_sales  New_target
0          1          A         151315    166446.5
1          2          A         202307    222537.7
3          4          A         205863    226449.3
5          6          A         202505    222755.5
7          8          A         155078    170585.8
10        11          A         207499    228248.9
12        13          A         219622    241584.2
13        14          A         200898    220987.8
18        19          A         203819    224200.9

In [0]:
Y=df[df['store_type']=='B']

In [24]:
Y['New_target']=Y['last_yr_sales']*1.1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
Y

    store_id store_type  last_yr_sales  New_target
2          3          B          37392     41131.2
4          5          B          34875     38362.5
6          7          B          70713     77784.3
8          9          B         125833    138416.3
9         10          B         126512    139163.2
11        12          B         112238    123461.8
14        15          B         123737    136110.7
15        16          B          57197     62916.7
16        17          B          93188    102506.8
17        18          B         120653    132718.3
19        20          B         203742    224116.2

In [0]:
frames=[X, Y]
result=pd.concat(frames)

In [0]:
result=result.sort_index(ascending=True)

In [33]:
result.head()

   store_id store_type  last_yr_sales  New_target
0         1          A         151315    166446.5
1         2          A         202307    222537.7
2         3          B          37392     41131.2
3         4          A         205863    226449.3
4         5          B          34875     38362.5